<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
            <div class="heading">
            <h1>About Us</h1>
            <p>
                Welcome to EventBridge, where we connect passionate individuals with meaningful opportunities to make a difference in their communities.
                At EventBridge, we understand the power of volunteering and the impact it can have on both individuals and the causes they support. That's why we've created a platform that serves as a bridge between organizers seeking dedicated volunteers and individuals eager to lend a helping hand.
                For organizers, EventBridge offers a streamlined solution to find the right volunteers for their events. Whether it's a charity fundraiser, community clean-up, or a cultural festival, our platform provides a space to reach out to a network of enthusiastic individuals ready to contribute their time and skills.
                For volunteers, EventBridge provides a hub to discover exciting upcoming events and projects in their area. With just a few clicks, volunteers can explore a variety of opportunities that align with their interests and availability. Once logged in, volunteers can easily sign up to become coordinators for events, taking on leadership roles and driving positive change within their communities.
                Our mission at EventBridge is to empower both organizers and volunteers to create meaningful connections and make a tangible impact in the world. Join us today and become part of a growing community dedicated to making a difference, one event at a time.
                Together, let's build a brighter future, one volunteer opportunity at a time.
            </p>
        </div>
</body>
</html>