<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Recruitment</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="screen">
        <h1>Welcome to Our Volunteer Recruitment Platform</h1>
        <a href="{{ url_for('organisation') }}"><button id="organisationBtn">I'm an Organisation</button></a>
        <a href="{{ url_for('volunteer') }}"><button id="volunteerBtn">I'm a Volunteer</button></a>
    </div>
</body>
</html>